.ul {
  list-style-type: none;
  background-color: #f1f1f1;
  padding-top: 15px;
  padding-left: 0px;
} 
.nav {
  margin: 5px;
}
.li {
  display: list-item;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
} 