.white {
  color: white;
  fill: white;
  stroke: none;
  width: 24px;
  height: 24px;
}
.black {
  color: black;
  fill: black;
  stroke: none;
  width: 24px;
  height: 24px;
}
.cursor {
  cursor: pointer;
}